.ant-btn-primary {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 #0000001f;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
tr:hover { 
    background-color:#c3eef5;
    cursor: pointer;
}
tr {
    min-width: 700px;
}